<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to School The Temple</h1>
<ul>
    <li>
        <a href="{% url 'classroom:thankyou' %}">Thank You</a>
    </li>
    <li>
        <a href="{% url 'classroom:contact' %}">Contact</a>
    </li>
    <li>
        <a href="{% url 'classroom:create_teacher' %}">Create Teacher</a>
    </li>
    <li>
        <a href="{% url 'classroom:list_teacher' %}">Teacher List</a>
    </li>
</ul>
</body>
</html>